@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ba94d1;
  color: #150050;
}

header {
  padding: 20px 30px;
}

header h1 {
  font-size: 2.8rem;
}

main {
  width: 60%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid #150050;
  border-radius: 5px;
  padding: 30px;
}

.recent-scores,
.add-scores,
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-scores {
  width: 240px;
}

.scores-header {
  display: flex;
  align-items: center;
  gap: 130px;
}

.scores-header h2,
.add-scores h2 {
  font-size: 1.9rem;
}

button {
  border: 2px solid #150050;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: #150050;
}

.scores-container {
  height: 285px;
  overflow-y: scroll;
  padding: 0 10px;
}

.scores-container ul {
  list-style: none;
}

.scores-container ul li {
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #ccc;
  border-radius: 5px;
}

input {
  padding: 5px 10px;
  outline: 1px solid #150050;
  height: 35px;
}

.btn-submit-score {
  width: 70px;
  margin-right: 0;
  margin-left: auto;
}
